nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 22px;
}
nav>p>span{
    font-size: 30px;
    color: maroon;
}
nav a{
    color: black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    padding: 5px;
    margin: 2px;
    border-radius: 10px 0 0 10px;
    text-decoration: none;
}
nav a:hover{
    background-color: black;
    color: blanchedalmond;
}
nav>form>input{
    height: 20px;
    padding: 5px;
    margin: 0px;
    font-size: 18px;
}
nav>form>button{
    height: 33px;
    margin-left:-6px;
    background-color: white;
}
nav>form>button>i{
    font-size: 18px;
}

