.actors p{
    margin: 0;
}
.actors span{
    margin: 0 5px;
    font-weight: bold;
}

/* main card style */
.my-card{
    overflow: hidden;
    cursor: pointer;
    height: 250px;
}
.my-card img{
    width: 100%;

}
.my-card:hover img{
   filter:brightness(50%) ;
   transition: all ease-in .2s;
}
.my-card:hover .description{
    bottom: 20px;
    width: 100%;
}
.my-card .description{
    position: absolute;
    bottom: -200px;
    color: #fff;
    padding: .4rem;
    text-align: center;
    transition: all ease-in .2s;
}

/* episodes style */
.episodes{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
}

*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}
body{
    background-color: black;
}
/* styles of nav bar */
.navbar{
background-color: black;
}
.navbar-brand p{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;

}
.navbar-brand p span{
    color:#b30047;
    font-size: 32px;
    font-family: serif;
    font-weight: bold;
}
.nav-link{
    background-color: transparent;
    margin: 0 5px 0 5px;
    font-weight: bold;
    color: white;
}
.nav-link:hover{
    color: white;
    border-bottom: 2px solid white;
}

/* styles of welcoming */
.welcoming{
    text-align: center;
    margin: 10px;
    margin-bottom: 40px;
    padding: 30px;
    border: 1px solid goldenrod;
    border-radius: 20px;
}
.welcoming h3 span{
    color:#b30047;
    font-size: 32px;
    font-family: serif;
    font-weight: bold;
}

/* styles of Crousel */
.mycontainer img{
    height: 40vh;
    background-position: center center;
}



/* styles of body */
.mydiv{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.mydiv section{
    width: 75%;
}
.mydiv aside{
    width: 25%;
    text-align: center;
    padding: 10px 0 10px 0;
}
.mybtn{
    width: 140px;
    margin: 10px;
}
.Myarticles{
    border: 1px solid black;
}

