.actors p{
    margin: 0;
}
.actors span{
    margin: 0 5px;
    font-weight: bold;
}

/* main card style */
.my-card{
    overflow: hidden;
}
.my-card img{
    width: 100%;
}
.my-card:hover img{
   filter:brightness(50%) ;
   transition: all ease-in .2s;
}
.my-card:hover .description{
    bottom: 20px;
    width: 100%;
}
.my-card .description{
    position: absolute;
    bottom: -200px;
    color: #fff;
    padding: .4rem;
    text-align: center;
    transition: all ease-in .2s;
}

/* episodes style */
.episodes{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
}
.navbar-brand p{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #000066;

}
.navbar-brand p span{
    color:#b30047;
    font-size: 32px;
    font-family: serif;
    font-weight: bold;
}
.mycontainer img{
    height: 40vh;
    background-position: center center;
}
.nav-link{
    background-color: transparent;
    margin: 0 5px 0 5px;
    font-weight: bold;
}
.nav-link:hover{
    border-bottom: 2px solid #00004d;
}
.mydiv{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.mydiv section{
    width: 75%;
}
.mydiv aside{
    width: 25%;
    text-align: center;
    padding: 10px 0 10px 0;
}
.mybtn{
    width: 140px;
    margin: 10px;
}
.Myarticles{
    border: 1px solid black;
}
