@import url("movie.css");

*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}
body{
    background-color: black;
}
/* styles of nav bar */
.navbar{
background-color: black;
}
.navbar-brand p{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;

}

/* styles of welcoming */
.welcoming{
    display: flex;
    padding: 50px 0;
}
.welcoming .navBrand,.welcoming .navBrand:hover{
    color: #fff;
}
.welcoming .navBrand span{
    color:#b30047;
    font-family: serif;
    font-weight: bold;
}
.welcoming .title{
    flex-grow: 2;
    display: flex;
    justify-content: center;

}
.welcoming h3{
    display: inline-block;
    margin: auto;
}
.welcoming h3 span{
    color: #b30047;
}

/* styles of Crousel */
.mycontainer img{
    height: 400px;
    background-position: center center;
}



/* styles of body */
.mydiv{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.mydiv section{
    width: 75%;
}
.mydiv aside{
    width: 25%;
    text-align: center;
    padding: 10px 0 10px 0;
}
.mybtn{
    width: 140px;
    margin: 10px;
}
.Myarticles{
    border: 1px solid black;
}
